
table{
    color: rgb(55, 255, 20);
    background-color: rgb(85, 85, 85);
}
#demo1{
    border: 1px greenyellow solid;
    padding-left: 500px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-right: 50px;
}
#demo2{
    border: 1px greenyellow solid;
    padding-left: 500px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-right: 50px;
    
}
#demo3{
    padding-left: 500px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-right: 50px;
    border: 1px greenyellow solid;
}
#demo4{
    padding-left: 500px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-right: 50px;
    border: 1px greenyellow solid;
}
#demo5{
    padding-left: 500px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-right: 50px;
    border: 1px greenyellow solid;
}
#demo6{
    padding-left: 500px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-right: 50px;
    border: 1px greenyellow solid;
}
#demo7{
    padding-left: 500px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-right: 50px;
    border: 1px greenyellow solid;
}
#demo8{
    padding-left: 500px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-right: 50px;
    border: 1px greenyellow solid;
}
#demo9{
    padding-left: 500px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-right: 50px;
    border: 1px greenyellow solid;
}